<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Item</title>
<style>
table, th, td {
  border: 1px solid;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
</style>
</head>
<body>
<form th:object="${newItem}" th:action="@{/update/{id}(id=${newItem.id})}" method='POST'>
Name: <input name="name" size="25" th:field="*{name}"> <br />
Quantity: <input type="number" min="0" name="quantity" size="10" th:field="*{quantity}"><br />
Part Number: <input name="partNo" size="20" th:field="*{partNo}"><br />
Supplier: <input name="supplier" size="20" th:field="*{supplier}"><br />

<input name="submit" type="submit" value="submit" />
</form>
<a href="viewAll">View all Items</a>
</body>
</html>